#map {
    position: relative;
    top: 0;
    bottom: 0;
    z-index: 0;
    height: 100%;
}

#mapControls .toggle-button {
    position: absolute;
    top: 1%;
    left: 10px;
    z-index: 1000;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
}


.mapbox-attribution-container {
    z-index: 1000;
    bottom: 0;
    right: 0px;
    width: 190px;
    position: absolute;
    display: block;
    background-color: darkgreen;
    opacity: 0.6;
    text-align: right;
    padding: 0px 10px;

}

.mapboxgl-ctrl-compass {
    display: none !important;
}

.legend {
    z-index: 1000;
    bottom: 0;
    top: 0.5%;
    right: 4%;
    /*margin: calc(2rem - .14285714em) 0 1rem;*/
    position: absolute;
    display: block;
    background: dimgrey;
    height: 80px;
    padding: 5px 5px 5px 5px;
    border-radius: 5px;
    border: 1px solid #3498db;
}

.legend .bar {
    height: 15px;
    width: 100px;
    background: linear-gradient(to right, #FCA107, #7F3121);
}

.map-overlay input {
    background-color: transparent;
    display: inline-block;
    width: 100%;
    position: relative;
    margin: 0;
    cursor: ew-resize;
}

.map-overlay-inner span {
    color: white;
    font-weight: bold;
}

#mapControls svg {
    position: absolute;
    top: 1%;
    left: 50px;
    z-index: 1000;
    width: 95px;
    height: 115px;
}

#mapControls #bottomRight {
    position: absolute;
    right: 0;
    bottom: 24px;
    padding: 10px 10px 5px;
    width: 190px;
    z-index: 100;
    font-size: 12px;
    border-bottom: 1px solid transparent;
    background-color: darkgreen;
    opacity: 0.6;
    text-align: right;
}