/* Marker tweaks */
.mapboxgl-popup-close-button {
    display: none;
    margin-top: 0px;
}

.mapboxgl-popup-tip {
    display: none;
}

.mapboxgl-popup-content {
    position: absolute;
    right: 10px;
    bottom: 95px;
    padding: 10px 10px 5px;
    width: 320px;
    height: 190px;
    z-index: 100;
    font-size: 13px;
    border-bottom: 1px solid transparent;
    background-color: white;
    opacity: 0.95;
    text-align: right;
    box-shadow: 5px 5px 5px #ccc;
}

.mapboxgl-popup-content #table_1 tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
    color: #111111;
    text-align: center;
}

.mapboxgl-popup-content #table_1 td:first-child {
    width: 5%;
    color: #111111;
    /*text-align: right;*/
}

.mapboxgl-popup-content #table_1 td {
    width: 40%;
    color: #111111;
    text-align: left;
    padding: 0em 0.5em;
}

.mapboxgl-popup-content #table_1 td:last-child {
    width: 35%;
}

.mapboxgl-popup-content #table_2 {
    line-height: 1;
    width: 100%;
}

.mapboxgl-popup-content #table_2 td:first-child {
    text-align: right;
    width: 40%;
}

.mapboxgl-popup-content #table_2 td:last-child {
    text-align: left;
    padding-left: 60px;
}

/* Title containers */

.title {
    position: absolute;
    right: 10px;
    width: 320px;
    bottom: 320px;
    z-index: 10000;
    background: white;
    padding: 10px;
    border-radius: 5px;
    display: block;
}

.title .titleHideButton {
    margin-top: -19px;
    margin-left: 285px;
}

.instruction {
    position: absolute;
    z-index: 10001;
    font-size: 10pt;
    right: 10px;
    bottom: 295px;
    background: white;
    padding: 5px 5px 10px 10px;
    border-radius: 5px;
    width: 320px;
    display: block;
}