/* Marker tweaks */
.mapboxgl-popup-close-button {
    display: none;
    margin-top: 0px;
}

.mapboxgl-popup-content-wrapper {
    padding: 1%;
}

.mapboxgl-popup-content {
    width: 100%;
    border-collapse: collapse;
    font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
    padding: 0;
}

.mapboxgl-popup-content td, .mapboxgl-popup-content th {
    border: 1px solid #ddd;
    padding: 4px;
}

.mapboxgl-popup-content tr:nth-child(even){background-color: #f2f2f2;}

.mapboxgl-popup-content tr:hover {background-color: #ddd;}

.mapboxgl-popup-content th {
    text-align: left;
    background-color: #39CCCC;
    color: whitesmoke;
}

.mapboxgl-container .leaflet-marker-icon {
    cursor: pointer;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-content {
    margin-top: 15px;
}

.mapboxgl-popup-anchor-top > .mapboxgl-popup-tip {
    border-bottom-color: #91c949;
}


